* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.zoom {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1000;
  overflow: hidden;
  /* background: url('./images/bg.jpg'); */
  background-size: cover;
}

.zoom::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, #fff);
  bottom: 0%;
}

#img1,
#img2,
#img3,
#img4,
#img5 {
  position: absolute;
  z-index: 100;
}

#img5 {
    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#text {
  position: absolute;
  transform: translateY(65%);
}

.content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.content h2 {
  font-size: 3em;
}

.content p {
  font-size: 1.5em;
  text-align: justify;
  margin: 30px 0 200px 0;
}